The tool should NOT fail Testcase 3.1.1 H57 & 3.1.2 H58 for Language codes insensitive

It fails testcase 3.1.1 H57 & 3.1.2 H58 with the following 

<!--      <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN">          -->

Then it pass when changing the xml:lang="en" lang="en" in lower case.

The Language codes are case-insensitive according to the World Wide Web Consortium (W3C).

Please refer to the following link:
http://www.w3.org/TR/html401/types.html#type-langcode

The value of attributes whose type is a language code ( %LanguageCode in the DTD) refers to a language code as specified by [RFC1766], section 2. For information on specifying language codes in HTML, please consult the section on language codes. Whitespace is not allowed within the language-code.

Language codes are case-insensitive.

Thank you
Gaston
